* {
	box-sizing: border-box;
}
html,body{
	height: 100%;
	width: 100%;
}
body{
	padding: 2%;
}
.mainbox{
	height: 100%;
	width: 100%;
	margin: auto;
	background-color: #042F5F;
	padding: 2%;
	border: 5px solid #2267B5;
}
.insidebox{
	height: 100%;
	width: 100%;
	margin: auto;
	background-color: white;
	padding: 2%;
	border: 5px solid #2267B5;
}
.wrapperbox{
	height: 40%;
	width: 100%;
	margin: auto;
	background-color: #304A67;
	padding: 4% 2% 4% 2%;
	border: 5px solid #2267B5;
}
.firstitem{
	height: 100%;
	width: 19.25%;
	float: left;
	background-color: white;
	margin: 0 0 0 7%;
	padding: 1.5% 2% 1.5% 2%;
}
.textbox{
	height: 100%;
	width: 100%;
	background-color: #75B3F9;
	border: 2px solid #2267B5;
	display: flex;
}
.textbox p{
	margin: auto;
	font-size: 16px;
	color: white;
}
.firstitem:first-child{
	margin-left: 1%;
}
.firstitem:last-child{
	margin-right: 1%;
}
.bottombox{
	height: 55%;
	width: 100%;
	margin-top: 2%;
	background-color: #304A67;
	border: 5px solid #2267B5;
	display: flex;
}
.bottombox p{
	margin: auto;
	font-size: 50px;
	color: white;
}